<form name="editForm" ng-controller='AddController as vm'>
  <div class='form-group'>
    <label for="title">Name</label>
    <input type="text" class="form-control" name="title" id="name" ng-model="vm.change.name" required>

  </div>
  <div class='form-group'>
    <label for="date">Age</label>
    <input type="date" class="form-control" name="date" id="age" ng-model="vm.change.age" required>

  </div>
  <div class='form-group'>
    <label for="duration">Gender</label>
    <input type="text" class="form-control" name="duration" id="gender" ng-model="vm.change.gender" required>
    
  </div>
  <div class='form-group'>
    <label for="genre">Location</label>
    <input type="text" class="form-control" id="location" ng-model="vm.change.location">
  </div>
  <div class='form-group'>
    <label for="synopsis">Interest</label>
    <input type="text" class="form-control" id="interest" ng-model="vm.change.interest">
  </div>

  <input ng-click="vm.add()" class="btn btn-info" value="SAVE CHANGE">
  <input ng-click="vm.cancel()" class="btn btn-info" value="CANCEL">


</form>
